body {
    margin: 0;
    padding: 0;
}
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
.orange {
    background-color: lightgreen;
}



.stv {
    background-color: green;
    width: 300px;
}

.brown {
    background-color: #fbbc04;

}

.grey {
    background-color: lightgrey;


}